{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} {{question.question_title}} {% endblock %}
{% block body_block %}
<div class="row">
  <div class="col-sm-6">
    <h2>{{question.question_title}}</h2>
    <h4>Posted By: @{{question.question_poster}}</h4>
    <i><h6>Published On: {{question.publish_date}}</h6></i>
    <i><h6>Updated On: {{question.update_date}}</h6></i>
  </div>
  <!-- <div class="col-sm-6">
    <img src="/media/{{article.articles_image}}" width="100%">
  </div> -->
  <p>
    {{question.question_content|linebreaks}}
  </p>
  <hr>
</div>
  <div class="row">
    <div class="col-sm-6">
      <hr>
      <h5>Comments:</h5>
      {% for answer in question.question_ans.all %}
      <p><a href="#">@{{answer.user}}<br></a> {{answer.answer}}<br><h6>{{answer.answer_date}}</h6></p>
      {% endfor %}
    </div>
    <div class="col-sm-6">
      <form method="POST">
        {{ ans_form|crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-sm">Answer</button>
      </form>
    </div>

  </div>
  <br>
  <br>

  {% endblock %}
